<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.imgareaselect.js"></script>
    <link rel="stylesheet" href="~/css/imgareaselect-animated.css"/>
    <link rel="stylesheet" href="~/css/imgareaselect-default.css" />
    <script src="~/js/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ЛОГО</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active text-justify">
                    <li><a href="~/Home/Gamers">Геймеру</a></li>
                    <li><a href="~/Home/Developers">Разработчику</a></li>
                    <li><a href="~/Project/AllProjects">Проекты</a></li>
                    <li><a href="#">Вакансии</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-search">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="label-icon"></span>
                            </button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu navbar-left" role="menu">
                                <li>
                                    <a href="#">
                                        <span class="label-icon">Искать по статьям</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label-icon">Искать по проектам</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="glyphicon glyphicon-bell"></a></li>
                        <li><a class="glyphicon glyphicon-envelope"></a></li>
                        <li id="aboutuser">
                            <button type="button" class="btn dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown"></button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="~/Account/MainAccountProfile">@User.Identity.Name</a>
                                </li>
                                <li>
                                    <a id="logOut" href="#">Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                                @if (User.IsInRole("admin"))
                                {
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="~/Roles/UserList/">Страница администратора</a>
                                        </li>
                                    </ul>
                                }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right text-justify(container)">
                        <li><a data-toggle="modal" data-target="#login-modal" href="">Вход</a></li>
                        <li><a data-toggle="modal" data-target="#register-modal" href="">Регистрация</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>


        <div class="container" id="MainBlock">
            @RenderBody()
        </div>

    <div class="container" id="Footer">
        текст футера
    </div>

    @*Форма авторизации*@
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Вход в аккаунт</h1><br>
                <form id="login" method="post" asp-controller="Account" asp-action="Login">
                    <input type="text" name="Email" placeholder="Почта" required>
                    <input type="password" name="Password" placeholder="Пароль" required>
                    <input type="submit" name="login" class="login loginmodal-submit" value="Войти">
                </form>
                <div class="login-help">
                    <a id="RegisterLink" data-toggle="modal" data-target="#register-modal" href="">Зарегистрироваться</a>
                    <a id="ResetPassword" href="#">Забыли пароль</a>
                </div>
            </div>
        </div>
    </div>

    @*Форма регистрации*@
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Регистрация</h1><br>
                <form id="login" method="post" asp-controller="Account" asp-action="Register">
                    <input type="text" name="Login" placeholder="Логин" required>
                    <input type="password" name="Email" placeholder="Почта" required>
                    <input type="password" name="Password" placeholder="Пароль" required>
                    <input type="password" name="ConfirmPassword" placeholder="Подтвердите пароль" required>
                    <input type="checkbox" required/>Я соглашаюсь с правилами пользования сайтом
                    <input type="submit" name="login" class="login loginmodal-submit" value="Зарегистрировать">
                </form>
                <div class="login-help">

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    $('#logOut').on('click', function () {
        $.ajax({
            url: '/Account/LogOff',
            type: 'post',
            success: function (response)
            {
                
            }
        });
        return false;
    })
    $('#RegisterLink').on('click', function () {
        $('#login-modal').modal('hide');
    });
</script>