@model IEnumerable<IndieProjects.Model.Article>

<div>
    <a href="~/Account/AddArticle/">Написать статью</a>

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-4">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="~/@article.ArticleAvatar" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">@article.Title</h4><br />
                <label id="txt"></label><br />
                <div class="ga-border"></div>
                <label>@article.Likes.Count</label>
                <a class="pull-right" href="~/Home/CurrentArticle/@article.ID">Перейти</a>
            </div>
        }
    </div>
</div>