<li><a href="~/Account/AboutMe">Обо мне</a></li>
<li><a href="~/Account/Notification">Активность</a></li>
<li><a href="~/Account/MyProjects">Мои проекты</a></li>
<li><a href="~/Account/ProfileChanges">Редактировать профиль</a></li>
<div>

</div>