@model IndieProjects.Model.Project

<script src="//cdn.quilljs.com/1.2.0/quill.js"></script>
<script src="//cdn.quilljs.com/1.2.0/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">

<!-- Core build with no theme, formatting, non-essential modules -->
<link href="//cdn.quilljs.com/1.2.0/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.2.0/quill.core.js"></script>

<form id="Project" method="post" asp-controller="Project" asp-action="AddProject">
    <h1>Создание проекта</h1>
        <img id="avatar" src="" width="270" height="275" />
        <input type="file" id="imgInput" title="Tag" required/><br />
        <input id="avatarString" type="hidden" asp-for="Avatar" />
        <input id="Name" asp-for="Name" placeholder="Название" required/><br />
        <input id="Links" asp-for="Links" placeholder="Ссылки" /><br />
        <select id="Status" asp-for="StatusProject" placeholder="Статус проекта">
            <option>@IndieProjects.Model.ProjectStatus.Active</option>
            <option>@IndieProjects.Model.ProjectStatus.End</option>
        </select><br />
        <h5>Описание</h5>
        <div id="toolbar">
        </div>
        <div id="editor" class="ql-container">
        </div>
        <input type="hidden" asp-for="Description" id="vasya" required/>
        <input id="SaveDelta" type="submit" value="Создать статью" />
</form>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script>
    var localvariable;
    var toolbarOptions = [['bold', 'underline'],
        ['blockquote', 'code-block'][{ 'header': 1 }, { 'header': 2 }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }], 
        [{ 'size': ['small', false, 'large', 'huge'] }],
        [{ 'align': [] }], [{ 'font': [] }]];

        var editor = new Quill('#editor', {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
        });

        $('#SaveDelta').click(function () {
            var delta = editor.root.innerHTML;
            $('#vasya').val(delta);
            $('#avatarString').val(localvariable);
        });

        $("#imgInput").change(function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#avatar').attr('src', e.target.result);
                    localvariable = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>