@model IEnumerable<IndieProjects.Model.Commentary>

<table>
    @foreach (var comment in Model)
    {
        <tr>
            <td>@comment?.Author?.NickName</td>
            <td>@comment.Content</td>
            <td>@comment.DateSend</td>
        </tr>
    }
</table>