/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #5AC539;
    border-color: #E7E7E7;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #777;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a{
    color: white;
    font-weight: bold;
    font-weight: bold;
    float: none;
    text-align:center;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: white;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
 
@media (max-width: 767px) {
/* Цвет пунктов меню в раскрывающихся списках */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
}

#MainBlock{ 
border: solid black 1px; 
margin-top: 60px;
min-height:100%;
overflow: auto;
max-width: 1078px;
} 

#Footer{ 
border: solid black 1px; 
} 

html { 
    height:100vh;
    min-height:100vh;
} 

body { 
    min-height:100vh;
    height:100vh;
}

#divWithImg img
{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.container{
    
}

.navbar-search .dropdown-menu { 
    min-width: 25px; }
.dropdown-menu .label-icon {
    margin-left: 5px; }
.btn-outline {
    background-color: #4dde20;
    color: inherit;
    transition: all .5s;
}
.btn-search, .btn{
    color: white;
    background: #5AC539;
    height: 32px;
    border: solid 1px #DDD;
}
.btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#aboutuser{
    padding-top: 8px;
}
#tabsblock{
    border: 3px solid #5AC539;
    min-height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
        border-width: 0; 
    }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #5e8858 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #5AC539; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
#Aboutme{

}
#cabinetTopic{
    height: 70px;
}

@font-face {
    font-family: 'Web Symbols';
    src: url('fonts/web-symbols_[allfont.ru]')
}
.ca-menu{
    padding: 0;
    margin-top: 20px;
    width: 335px;
}

.ca-menu li{
    padding: 0;
    width: 335px;
    height: 50px;
    overflow: hidden;
    display: block;
    background: #f0faed;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    border-left: 5px solid #5AC539;
    transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}

.ca-menu li a{
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}
.ca-menu li:hover{
    background: #bae7ad;
}
.ca-icon{
    display:block;
    font-family: 'Web Symbols', cursive;
    font-size: 26px;
    text-shadow: 0px 0px 1px #333;
    position: absolute;
    width: 90px;
    text-align: left;
    transition: all 300ms linear;
    color: #898989;
    left: 5px;
}
.ca-content{
    position: absolute;
    left: 55px;
    max-width: 350px;
    height: 60px;
    color:#898989;
}
.ca-menu li:hover .ca-icon{
    font-family: 'Web Symbols';
    font-size: 35px;
    color: #3d6c37;
    opacity: 0.8;
    text-shadow: 0px 0px 13px #fff;
}
.ca-menu li:hover .ca-main{
    opacity: 1;
    color:#3d6c37;
    animation: moveFromTop 300ms ease-in-out;
}
@keyframes moveFromTop{
    from{
        opacity:0;
        transform: translateY(-200%)
    }
    to {
        opacity:1;
        transform: translateY(0%)
    }

}

.img-circle{
    position: center;
    border: 2px #5ac539;
}
#username{
    font-family: 'XXII Centar'; 
    font-size: 30px;
    padding: 10px;
}